body {
    font-family: 'Poppins', sans-serif;

}


.header-section {
    padding: 20px 40px;
    background-color: white;
}

.logo img {
    width: 38px;
    height: 38px;
}

.logo h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #0B7077;
}

.menu-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: #0B7077;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;

}


.btnn button {
    padding: 10px 19px 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #FB399D;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
}

.showw {
    display: none;
}

.hero-section {
    padding: 100px 40px;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 556px;
}

.media-card {
    padding: 10px;
    color: #0B7077;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    width: 176px;
    text-align: center;
}

.title-1 {
    color: #0A033C;
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    max-width: 688px;
    padding: 20px 0px;
}

.desc-1 {
    font-size: 19px;
    font-weight: 400;
    line-height: 30.4px;
    color: #464646;
}


.about-us {
    padding: 40px;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    color: #2F327D;
    text-transform: uppercase;
}

.about-card {
    padding: 20px 16px 20px 16px;
    box-shadow: 0px 10px 60px 0px #262D7614;
    background: #FFFFFFCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.about-card img {
    width: 161px;
    height: 100px;
    object-fit: contain;
}

.about-card h1 {
    color: #2F327D;
    font-size: 24px;
    font-weight: 700;
}

.about-card p {
    color: #696984;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
}


.bg-img {
    position: absolute;
    z-index: -1;
    top: -94px;
    left: -10px;
}

.bee {
    position: absolute;
    right: 10%;
    top: 0;
}

.box {
    position: absolute;
    left: 30%;
    top: 0;
}

.service-card-1 {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #FCDDEC7A;
    border: 2px solid #F178B6;
    height: 100%;
}

.service-card-2 {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #D3D4F5;
    height: 100%;

    border: 2px solid #2F327D
}

.service img {
    width: 100px;
    height: 100px;
}

.service-card-1 h1,
.service-card-2 h1 {
    color: #4B4B4B;
    font-size: 24px;
    font-weight: 700;
    /* line-height: 50.4px; */
    margin: 0;
}

.service-card-1 p,
.service-card-2 p {
    color: #4B4B4B;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.4px;
}

.ball {
    position: absolute;
    bottom: 99px;
    left: 0;
    z-index: -1;
}



.partners-section {
    padding: 60px 0px;
    background: #F1F5F9;

}

.top-part {
    color: #0F172A;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

.footer-section {
    margin-top: 30px;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(../images/footer-bg.png);
    background-position: 50% 50%;
    background-size: cover;
}

.footer-address{
    max-width: 232px;
    width: 100%;
    margin: auto;
}
.categories{
    max-width: 84px;
    width: 100%;
    margin: auto;
}
.addres h1{
    font-size: 14px;
    font-weight: 700;
    color: #0B7077;
}
.addres p{
    color: #0B7077;
    font-weight: 400;
    font-size: 14px;
}

.categories h1{
    font-size: 15px; 
    font-weight: 500;
    color: #0A033C;
}


.categories ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categories ul li a{
    color: #0B7077;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}




/* media query  */

@media(max-width:800px) {
    .menu-list {
        display: none;
    }

    .hidden {
        display: none;
    }

    .title-1 {
        color: #0A033C;
        font-size: 35px;
        font-weight: 700;
        line-height: 55px;
        max-width: 100%;
    }
}


@media(max-width:500px) {
    .header-section {
        padding: 20px;
    }

    .showw {
        display: block;
    }

    .hero-section {
        padding: 60px 20px;
        background-image: url(../images/hero-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-height: 556px;
    }

    .mar {
        margin: 15px 0px;
    }

    .footer-section {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-address ,.categories{
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    
}